/*Credit to: https://www.w3schools.com/css/css3_fonts.asp for font-face code*/
@font-face {
    font-family: Norse;
    src: url(../font/Norse.otf);
}

@font-face {
    font-family: NorseBold;
    src: url(../font/Norse-Bold.otf);
}
/* ------------------------------General styling---------*/
body {
    font-family: 'Norse', sans-serif;
    color: #ECEFF4;
}

hr {
    border-top: 4px solid #DAA21C;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

.page-headings {
    font-family: 'NorseBold', sans-serif;
    font-size: 5vw;
}

.text-heavy {
    font-family: 'Belanosima', sans-serif;
}
/* ------------------------------Colours---------*/
body {
    background-color: #2E3440;
}

.navbar-bg {
    background-color: #ECEFF4;
}

.nav-link {
    color: #2E3440;
}

.navbar-brand {
    margin-right: 0;
    padding: 0;
}

.navbar-brand p {
    color: #2E3440;
    font-family: 'NorseBold', sans-serif;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 15px;
}

footer {
    background-color: #ECEFF4;
    color: #2E3440;
}
/* ------------------------------Start of Header styling---------*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    z-index: 2;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}

.navbar-toggler {
    background-color: #2E3440;
    color: #ECEFF4;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28236, 239, 244%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-logo {
    display:inline-flex;
    width: auto;
  }

  .navbar-nav {
    font-family: 'NorseBold', sans-serif;
    font-size: 25px;
  }

.nav-link:hover {
    color: #DAA21C;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #DAA21C;
    text-decoration:underline;
    text-decoration-thickness: 2px;
  }

/*---Navbar "Book" button styling---*/
.book-btn {
    background-color: #2E3440;
    color: #ECEFF4;
    text-shadow: none;
    font-family: 'NorseBold', sans-serif;
}

/*Credit to W3Schools: Zoom hover styling code taken from https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
.btn:hover {
    color: #DAA21C;
    background-color: #2E3440;
    transform: scale(1.25);
    transition: transform .2s;
    text-shadow: none;
}

/*---Navbar collapsible navigation styling---*/
/*Credit to stackoverflow: Adapted from https://stackoverflow.com/questions/64301832/navbar-toggle-direction-in-bootstrap*/
@media screen and (max-width:992px) {
    .navbar-collapse {
    position: fixed;
    top: 65px;
  }
  
  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }
  
  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  
  .navbar-toggler.collapsed~.navbar-collapse {
    transition: 500ms ease-in-out;
  }
  
  .nav-link {
    color: #2E3440;
    padding-bottom: 0;
    padding-left: 15px;
  }
  
  .nav-link:hover {
    color: #ECEFF4;
  }
  
  .navbar-nav {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(236, 239, 244, 0.5);
    width: 100vw;

    font-family: 'NorseBold', sans-serif;
    font-size: large;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #ECEFF4;
    text-decoration:underline;
    text-decoration-thickness: 3px;
  }
}
/* ------------------------------End of Header styling---------*/

/* ------------------------------Start of hero image styling---------*/
.hero-image-container {
    height: 100vh;
    max-width: 100%;
    background: url(../images/hero-image7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*Credit to Code Institute for the hero image overlay: Taken from the "Whiskey Drop" course material*/
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-image-content {
    font-family: 'NorseBold', sans-serif;
    z-index: 1;
    color: #ECEFF4;
    text-shadow: 2px 2px 5px #2E3440, 0 0 25px #ECEFF4, 0 0 5px #ECEFF4;
}

.hero-image-content .book-btn {
    position: absolute;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: fit-content;

    background-color: rgb(236, 239, 244, 0.75);
    color: #2E3440;
    font-family: 'NorseBold', sans-serif;
    font-size: 2.5vw;
}

@media screen and (max-width:768px) {
    .hero-image-content .book-btn {
        font-size: 25px;
  }
}

.hero-image-content h1 {
    font-size: 10vw;
 }
 .hero-image-content h2 {
    font-size: 3.5vw;
 }
/* ------------------------------End of hero image styling---------*/

/* ------------------------------Start of About Us section styling---------*/

#about-us {
    margin-top: 90px;
}

#about-us hr {
    width: 15%;
}

@media screen and (max-width:576px) {
    .col-sm-12 {
    padding: 0 30px;
    }
}

.content-image {
    border-radius: 8px;
    object-fit: cover;
    object-position: 50% 63%;
    width: 66.6vw;
    height: 40%;
    margin-top: 40px;
}
/* ------------------------------End of About Us section styling---------*/

/* ------------------------------Start of Our Services section styling---------*/
#our-services hr {
    width: 30%;
}

.dog-walking-container {
    background-color: #ECEFF4;
    color: #2E3440;
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

/*Credit to: https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=accordion-with-plus-minus-icon for the accordion plus/minus icon code*/
.accordion {
    --bs-accordion-color: #2E3440;
    --bs-accordion-btn-color: #2E3440;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%232E3440' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%232E3440' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --bs-accordion-bg: #ECEFF4;
    --bs-accordion-border-width: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-focus-box-shadow: 0;
    --bs-accordion-border-width: none;
}

.accordion-title {
    padding-top: 20px;
    text-decoration: underline;
}

.accordion-button:hover,
.accordion-button:not(.collapsed) {
    --bs-accordion-btn-bg: #2E3440;
    --bs-accordion-btn-color: #ECEFF4;
    --bs-accordion-color: #ECEFF4;
    --bs-accordion-btn-icon: #2E3440;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23ECEFF4' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23ECEFF4' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --bs-accordion-active-color: #ECEFF4;
    --bs-accordion-active-bg: #2E3440;
}

.price-quote {
    font-size: 12px;
    text-align: center;
}
/* ------------------------------End of Our Services section styling---------*/

/* ------------------------------Start of Footer styling---------*/
footer {
    width: 100%;
    bottom: 0;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}

.footer-sections {
    margin-top: 20px;
}

footer h6 {
    margin-top: 20px;
}

.social-link {
    margin-top: 20px;
}

footer a {
    color: #2E3440;
    text-decoration: none;
}

footer a:hover {
    color: #DAA21C;
    text-decoration: underline;
}

footer i {
    font-size: 25px;
}

footer i:hover {
    color:#DAA21C;
    font-size: 30px;
}

.footer-info {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 10px;
}

.footer-info p {
    margin: 0;
}

#copyright-info {
    font-size: 10px;
}

#copyright-info p {
    margin-bottom: 5px;
}
/* ------------------------------End of Footer styling---------*/