/*Credit to: https://www.w3schools.com/css/css3_fonts.asp for font-face code*/
@font-face {
    font-family: Norse;
    src: url(../font/Norse.otf);
}

@font-face {
    font-family: NorseBold;
    src: url(../font/Norse-Bold.otf);
}
/* ------------------------------General styling---------*/
body {
    font-family: 'Norse', sans-serif;
    color: #ECEFF4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    border-top: 4px solid #DAA21C;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

.page-headings {
    font-family: 'NorseBold', sans-serif;
    font-size: 5vw;
}

@media screen and (max-width:620px) {
    .page-headings {
        font-size: 30px;
    }
}

.text-heavy {
    font-family: 'Belanosima', sans-serif;
}
/* ------------------------------Colours---------*/
body {
    background-color: #2E3440;
}

.navbar-bg {
    background-color: #ECEFF4;
}

.nav-link {
    color: #2E3440;
}

.navbar-brand {
    margin-right: 0;
    padding: 0;
}

.navbar-brand p {
    color: #2E3440;
    font-family: 'NorseBold', sans-serif;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 15px;
}

footer {
    background-color: #ECEFF4;
    color: #2E3440;
}
/* ------------------------------Start of Header styling---------*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    z-index: 3;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}

.navbar-toggler {
    background-color: #2E3440;
    color: #ECEFF4;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28236, 239, 244%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-logo {
    display:inline-flex;
    width: auto;
  }

  .navbar-nav {
    font-family: 'NorseBold', sans-serif;
    font-size: 25px;
  }

.nav-link:hover {
    color: #DAA21C;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #DAA21C;
    text-decoration:underline;
    text-decoration-thickness: 2px;
  }

/*---Navbar "Book" button styling---*/
.book-btn {
    background-color: #2E3440;
    color: #ECEFF4;
    text-shadow: none;
    font-family: 'NorseBold', sans-serif;
}

/*Credit to W3Schools: Zoom hover styling code taken from https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
.navbar .btn:hover {
    color: #DAA21C;
    background-color: #2E3440;
    transform: scale(1.25);
    transition: transform .2s;
    text-shadow: none;
}

/*---Navbar collapsible navigation styling---*/
/*Credit to stackoverflow: Adapted from https://stackoverflow.com/questions/64301832/navbar-toggle-direction-in-bootstrap*/
@media screen and (max-width:992px) {
    .navbar-collapse {
    position: fixed;
    top: 65px;
  }
  
  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }
  
  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  
  .navbar-toggler.collapsed~.navbar-collapse {
    transition: 500ms ease-in-out;
  }
  
  .nav-link {
    color: #2E3440;
    padding-bottom: 0;
    padding-left: 15px;
  }
  
  .nav-link:hover {
    color: #ECEFF4;
  }
  
  .navbar-nav {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(236, 239, 244, 0.5);
    width: 100vw;

    font-family: 'NorseBold', sans-serif;
    font-size: large;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #ECEFF4;
    text-decoration:underline;
    text-decoration-thickness: 3px;
  }
}
/* ------------------------------End of Header styling---------*/

/* ------------------------------Start of hero image styling---------*/
.hero-image-container {
    height: 100vh;
    max-width: 100%;
    background: url(../images/hero-image7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*Credit to Code Institute for the hero image overlay: Taken from the "Whiskey Drop" course material*/
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-image-content {
    font-family: 'NorseBold', sans-serif;
    z-index: 1;
    color: #ECEFF4;
    text-shadow: 2px 2px 5px #2E3440, 0 0 25px #ECEFF4, 0 0 5px #ECEFF4;
}

.hero-image-content .book-btn {
    position: absolute;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: fit-content;

    background-color: rgb(236, 239, 244, 0.75);
    color: #2E3440;
    font-family: 'NorseBold', sans-serif;
    font-size: 2.5vw;
}

@media screen and (max-width:768px) {
    .hero-image-content .book-btn {
        font-size: 25px;
  }
}

.hero-image-content h1 {
    font-size: 10vw;
 }
 .hero-image-content h2 {
    font-size: 3.5vw;
 }
/* ------------------------------End of hero image styling---------*/

/* ------------------------------Start of About Us section styling---------*/

#about-us {
    margin-top: 90px;
}

#about-us hr {
    width: 15%;
}

@media screen and (max-width:576px) {
    .col-sm-12 {
    padding: 0 30px;
    }
}

#about-us .image-box {
    border-radius: 8px;
    object-fit: cover;
    object-position: 50% 63%;
    width: 66.6vw;
    aspect-ratio: 5/3;
    margin-top: 20px;
    margin-bottom: 45px;
}
/* ------------------------------End of About Us section styling---------*/

/* ------------------------------Start of Our Services section styling---------*/
#our-services hr {
    width: 20%;
}

.accordion-container {
    background-color: #ECEFF4;
    color: #2E3440;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
}

/*Credit to: https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=accordion-with-plus-minus-icon for the accordion plus/minus icon code*/
.accordion {
    --bs-accordion-color: #2E3440;
    --bs-accordion-btn-color: #2E3440;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%232E3440' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%232E3440' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --bs-accordion-bg: #ECEFF4;
    --bs-accordion-border-width: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-focus-box-shadow: 0;
    --bs-accordion-border-width: none;
}

.accordion-title {
    padding-top: 20px;
    font-family: 'NorseBold', sans-serif;
    text-decoration: underline;
    font-size: 20px;
}

.accordion-button {
    font-size: 20px;
}

.accordion-button:hover,
.accordion-button:not(.collapsed) {
    --bs-accordion-btn-bg: #2E3440;
    --bs-accordion-btn-color: #ECEFF4;
    --bs-accordion-color: #ECEFF4;
    --bs-accordion-btn-icon: #2E3440;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23ECEFF4' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23ECEFF4' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --bs-accordion-active-color: #ECEFF4;
    --bs-accordion-active-bg: #2E3440;
}

.price-quote {
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #2E3440;
}

.price-quote:hover {
    text-decoration: underline;
    color: #DAA21C;
}

.video-box {
    width: 66.6%;
    box-shadow: 0 4px 8px 0 rgba(92, 98, 112, 0.2), 0 6px 20px 0 rgba(92, 98, 112, 0.2);
    margin-top: 20px;
    border-radius: 8px;
}

#recall-training {
    font-size: 14px;
    margin: 0 0 0 10px;
}

#our-services .image-box {
    border-radius: 8px;
    width: 66.6vw;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 45px;
}
/* ------------------------------End of Our Services section styling---------*/

/* ------------------------------Start of Why Us section styling---------*/
#why-us hr {
    width: 10%;
}

#why-us .row {
    margin: 0;
}

/*Bulleted lists styling*/
ul {
    font-size: 20px;
}

li::marker {
    font-weight: bold;
}

.listed-items {
    margin-top: 20px;
}

#reasons-why hr {
    opacity: 0.35;
    border-top: 2px solid #DAA21C;
    width: 66.6%
}

/*Credit to W3 Schools for the Unicode characters: https://www.w3schools.com/charsets/ref_utf_runic.asp and */ 
.listed-items .item-1::marker {
    content: "\16B1";
}

.listed-items .item-2::marker {
    content: "\16D2";
}

.listed-items .item-3::marker {
    content: "\16D7";
}

.listed-items .item-4::marker {
    content: "\16C3";
}

.listed-items .item-5::marker {
    content: "\16B9";
}

.listed-items .item-6::marker {
    content: "\16DE";
}

.listed-items .item-7::marker {
    content: "\16DF";
}

.listed-items .item-8::marker {
    content: "\16AB";
}

.listed-items .item-9::marker {
    content: "\16A6";
}

.listed-items .item-10::marker {
    content: "\16A2";
}

.listed-items .item-11::marker {
    content: "\16CF";
}

.listed-items .item-12::marker {
    content: "\16C9";
}
/* ------------------------------End of Why Us section styling---------*/

/* ------------------------------Start of Meet the Team section styling---------*/
#meet-the-team {
    margin-top: 50px;
}

#meet-the-team hr {
    width: 18%;
}

.carousel {
    width: 90vw;
    margin: auto;
}

.carousel-inner {
    width: 66.6%;
    margin: auto;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item img {
    border-radius: 50%;
    width: 40%;
}

.carousel-control-next, .carousel-control-prev {
    color: #ECEFF4;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #ECEFF4;
}

.carousel-caption {
    position: unset;
    color: #ECEFF4;
}

.carousel-indicators {
    margin: -10px;
}

.carousel-indicators [data-bs-target] {
    background-color: #DAA21C;
}

.carousel-caption p,
.carousel-caption a  {
    margin: 0;
    font-size: 1.25rem;
    font-family: 'Belanosima', sans-serif;
}

.carousel-caption h5 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 2rem;
}

.carousel-caption h6 {
    font-weight: bold;
    font-size: 1.75rem;
}

@media screen and (max-width:750px) {
    .carousel-caption h5 {
        font-size: 20px;
    }

    .carousel-caption h6 {
        font-size: 18px;
    }

    .carousel-caption p,
    .carousel-caption a {
        font-size: 16px;
    }

    .carousel-caption .btn-more-info .btn {
        font-size: 16px;
    }
}

.carousel-item a {
    font-family: 'Belanosima', sans-serif;
    text-decoration: none;
    color: #ECEFF4;
}

.carousel-item a:hover {
    color: #DAA21C;
    text-decoration: underline;
}

.carousel-caption btn {
    font-size: 16px;
}

.btn-modal {
    margin-top: 10px;
}

.btn-modal .btn:hover {
    color: #DAA21C;
    text-decoration: underline;
}

.btn-modal .btn {
    font-size: 1.25rem;
    color: #ECEFF4;
    font-weight: bold;
    background-color: #5C6270;
    padding: 0 5px;
}

/*Modal styling*/
.modal-content {
    background-color: #ECEFF4;
    color: #2E3440;
}

.modal-header {
    border-bottom: none;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0;
}

.modal-title {
    font-weight: bold;
    color: #2E3440;
}

.modal-header hr {
    margin-top: 0;
    border-top: 2px solid #DAA21C;
    margin: 0;
}

#MagnusModal hr {
    width: 20%;
}

#AvaModal hr {
    width: 16%;
}

#LilyModal hr {
    width: 10%;
}

#MaxModal hr {
    width: 8%;
}

#OllieModal hr {
    width: 12%;
}

.modal-body p {
    color: #2E3440;
    font-size: 1rem;
}

.modal-footer {
    border-top: none;
}

.modal-footer .btn {
    background-color: #2E3440;
    font-weight: 500;
}

.modal-footer .btn:hover {
    font-weight: bold;
}
/* ------------------------------End of Meet the Team section styling---------*/

/* ------------------------------Start of Testimonials section styling---------*/
#testimonials hr {
    width: 25%;
}

#testimonials h2 {
    margin-top: 45px;
}

.testimonial-image {
    margin: 10px 0;
}

.testimonial-item-container {
    background-color: #ECEFF4;
    color: #2E3440;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 20px;
}

#testimonials hr {
    width: 40%;
}

#testimonials .row {
    margin: 5px;
}

.testimonial-image img {
    width: 50%;
    border-radius: 50%;
    border-color: #DAA21C;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 10px;
}

.testimonial-item-container h5 {
    font-weight: bold;
    font-size: 2rem;
}

.testimonial-item-container h6 {
    font-weight: bold;
    font-size: 1.75rem;
}

@media screen and (max-width:750px) {
.testimonial-item-container h5 {
        font-size: 20px;
    }

.testimonial-item-container h6 {
        font-size: 18px;
    }
}
/* ------------------------------End of Testimonials section styling---------*/

/* ------------------------------Start of Booking page styling---------*/
#book-now {
    padding-top: 100px;
    margin: auto;
}

#book-now hr {
    width: 12%;
}

.book-container {
    background-color: #ECEFF4;
    color: #2E3440;
    font-family: 'NorseBold', sans-serif;
    border-radius: 10px;
    width: 90vw;
    padding: 15px;
    margin-bottom: 20px;
}

#further-info label,
#further-info input {
   display: flex;
   flex-direction: column;
   margin: auto;
}

#finfo {
    width: 100%;
    aspect-ratio: 5/2;
}

@media screen and (min-width:768px) {
    #finfo {
        width: 50%;
    }
}

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
    color: #2E3440;
    opacity: 0.5;
}

#finfo::-webkit-input-placeholder {
    white-space:pre-line;  
    position:relative;
    top:-7px;
}

#finfo::-moz-placeholder {
    white-space:pre-line;  
    position:relative;
    top:-7px;
}

#finfo:-ms-input-placeholder {
    white-space:pre-line;  
    position:relative;
    top:-7px;
}

#finfo:-moz-placeholder {
    white-space:pre-line;  
    position:relative;
    top:-7px;
}

.form-content {
    padding: 10px;
}

.form-content label {
    padding: 0 5px;
}

form .book-btn {
    border-radius: 5px;
    border-style: none;
    font-size: 1.5rem;
}

form .book-btn:hover {
    color: #DAA21C;
    background-color: #2E3440;
    transform: scale(1.25);
    transition: transform .2s;
    text-shadow: none;
}

#terms-section {
    margin-top: 15px;
}

#terms-section button {
    font-family: 'Belanosima', sans-serif;
}

#terms-section .btn-modal {
    margin-top: 3px;
}

.terms-content {
    font-size: 0.75rem;
    margin-bottom: 0;
}

.btn-modal ol {
    font-family: 'Belanosima', sans-serif;
    font-size: 1rem;
}

.list-header {
    font-weight: bold;
    margin-top: 10px;
}

.list-header ol {
    font-weight: 400;
    font-size: 0.75rem;
}
/* ------------------------------End of Booking page styling---------*/

/* ------------------------------Start of Gallery page styling---------*/
#gallery {
    padding-top: 100px;
}

#gallery h3 {
    padding-top: 20px;
}

#gallery hr {
    width: 8%;
}

#gallery .intro {
    text-decoration: underline;
    margin-bottom: 20px;
}

.photo-gallery .photos {
    padding-bottom:20px;
}

.gallery-image-container img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
    margin-top: 5px;
}

/*Image overlay styling*/
.gallery-image-container {
    position: relative;
}
 /*Credit to W3 Schools for image overlay styling: https://www.w3schools.com/howto/howto_css_image_overlay_title.asp*/
.image-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #ECEFF4;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}

.gallery-image-container:hover .image-overlay {
    opacity: 1;
}

.lb-outerContainer { 
    background-color: #ECEFF4;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(236,239,244,.15)!important;
}
/* ------------------------------End of Gallery page styling---------*/

/* ------------------------------Start of Blogs overview page styling---------*/
#blogs {
    padding-top: 100px;
}

#blogs h3 {
    padding-top: 20px;
}

#blogs hr {
    width: 6%;
}
/*Credit to Lton Etyo for parts of the blog card styling code: https://codepen.io/lyon-etyo/pen/OJmyMGd?editors=1100*/
.blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
  }

.card-header {
    overflow: hidden;
    display: flex;
    padding: 0;
}

#blog-image-1 {
    max-width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: 60% 50%;
}

#blog-image-2 {
    max-width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: 50% 20%;
}

#blog-image-3 {
    max-width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: 20% 20%;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 5px 10px 4px rgba(236, 239, 244, 0.19);
    border-radius: 1em;
    background-color: #ECEFF4;
    padding: 0;
    border: 0;
  }

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #2E3440;
  }

.card-body h4 {
    font-size: 1.5rem;
    font-family: NorseBold;
  }

  .card-body .btn {
    background-color: #2E3440;
    color: #ECEFF4;
    text-shadow: none;
    font-family: 'NorseBold', sans-serif;
    width: 33.3%;
    align-self: center;
  }

  .card-body .btn:hover {
    color: #DAA21C;
    background-color: #2E3440;
    transform: scale(1.25);
    transition: transform .2s;
    text-shadow: none;
}

@media screen and (max-width:360px) {
    .card-container {
        width: 90%;
    }
}
/* ------------------------------End of Blogs overview page styling---------*/

/* ------------------------------Start of Blog page styling---------*/
.blog-image-container-one {
    aspect-ratio: 5/2;
    max-width: 100%;
    background: url(../images/bristol-barkers-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-image-container-two {
    aspect-ratio: 5/2;
    max-width: 100%;
    background: url(../images/keeping-your-dog-cool-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-image-container-three {
    aspect-ratio: 5/2;
    max-width: 100%;
    background: url(../images/prepare_frozen_kong_image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 5/2;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:800px) {
    .blog-image-container-one {
        aspect-ratio: 3/2;
    }

    .blog-image-container-two {
        aspect-ratio: 3/2;
    }

    .blog-image-container-three {
        aspect-ratio: 3/2;
    }

    .blog-opaque-overlay {
        aspect-ratio: 3/2;
    }
}

.blog-image-content {
    font-family: 'NorseBold', sans-serif;
    z-index: 1;
    color: #ECEFF4;
    text-shadow: 2px 2px 5px #2E3440, 0 0 25px #ECEFF4, 0 0 5px #ECEFF4;
    padding-top: 50px;
}

.blog-image-content h1 {
    font-size: 5vw;
 }

 .blog-image-content h4 {
    font-size: 3vw;
 }

#blog-content {
    padding-top: 40px;
}

#blog-content .row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.paragraph-heading {
    font-family: 'NorseBold', sans-serif;
    padding-bottom: 20px;
    text-decoration: underline;
    color: #DAA21C;
 }

 #blog-content a {
    color: #DAA21C;
    text-decoration: none;
    font-family: 'NorseBold', sans-serif;
}

#blog-content a:hover {
    color: #ECEFF4;
    text-decoration: underline;
}

#blog-content ul {
    font-size: 1rem;
}

#blog-content li {
    padding-bottom: 8px;
}

#blog-content li::marker {
    color: #DAA21C;
}

#blog-content li p {
    margin-left: 15px;
}

.blog-heading {
    margin: 5px 15px;
}
/* ------------------------------End of Blog page styling---------*/

/* ------------------------------Start of Contact Us page styling---------*/
#contact-us {
    padding-top: 100px;
}

#contact-us hr {
    width: 10%;
}

.contact-us-container {
    background-color: #ECEFF4;
    color: #2E3440;
    font-family: 'NorseBold', sans-serif;
    border-radius: 10px;
    width: 90vw;
    padding: 15px;
    margin-bottom: 20px;
}

#message {
    width: 100%;
    aspect-ratio: 5/2;
}

@media screen and (min-width:768px) {
    #message {
        width: 90%;
        aspect-ratio: 4/1;
        margin: auto;
    }
}
#message::-webkit-input-placeholder {
    white-space:pre-line;  
    position:relative;
    top:-7px;
}

#message::-moz-placeholder {
    white-space:pre-line;  
    position:relative;
    top:-7px;
}

#message:-ms-input-placeholder {
    white-space:pre-line;  
    position:relative;
    top:-7px;
}

#message:-moz-placeholder {
    white-space:pre-line;  
    position:relative;
    top:-7px;
}
/* ------------------------------End of Contact Us page styling---------*/

/* ------------------------------Start of Footer styling---------*/
footer {
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    margin-top: auto;
}

.footer-sections {
    margin-top: 20px;
}

footer h6 {
    margin-top: 20px;
    text-decoration: underline;
}

.social-link {
    margin-top: 20px;
}

footer a {
    color: #2E3440;
    text-decoration: none;
}

footer a:hover {
    color: #DAA21C;
    text-decoration: underline;
}

footer i {
    font-size: 25px;
}

footer i:hover {
    color:#DAA21C;
    font-size: 30px;
}

.footer-info {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 10px;
    font-family: 'Belanosima', sans-serif;
}

.footer-info p {
    margin: 2px;
}

#copyright-info {
    font-size: 10px;
    font-family: 'Belanosima', sans-serif;
    padding: 5px;
}


/* ------------------------------End of Footer styling---------*/